*{
    padding: 0;
    margin: 0;
    border: 0;
}
:root{
    --cor_fundo: gray;

}
div{
        width: 150px;
        height: 150px;
        background-color: black;
        border-radius: 100%;
    }
    div:hover{
        background-color: red;
        width: 200px;
        height: 200px;
    }
    body{
        background-color: var(--cor_fundo);
    }