*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    margin: 0;

}
main{
    width: 100%;
    height: auto;
}
section#formulario {
    margin:0 auto;
    padding: 5px;
    width: 70%;
}
fieldset{
    padding: 5px;
}
label{
    display: block;
    width: 200px;
    height: auto;
    padding: 2px;
    /* border: 2px solid black; */
}
.txt{
    width: 100%;
    height: auto;
}
form{
    width: 70%;
    height: auto;
}
textarea{
    width: 100%;
}
